force-app/main/default/flows/Fetch_Jobs_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_jobs_from_Jooble</name>
        <label>Fetch jobs from Jooble</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>JoobleCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fetching_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>location</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <elementReference>Page</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>radius</name>
            <value>
                <elementReference>Radius</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultsPerPage</name>
            <value>
                <elementReference>Results_Per_Page</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Position</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JoobleCalloutInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Fetch Jobs Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Jobs Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Fetching_Error</name>
        <label>Fetching Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Jobs</name>
        <label>Get Jobs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_jobs_from_Jooble</targetReference>
        </connector>
        <fields>
            <name>Position</name>
            <dataType>String</dataType>
            <fieldText>Position</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Radius</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>25.0</numberValue>
            </defaultValue>
            <fieldText>Radius</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Page</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Page</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Results_Per_Page</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>10.0</numberValue>
            </defaultValue>
            <fieldText>Results Per Page</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Get Jobs!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>JobsFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 173, 20);&quot;&gt;SUCCESS!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;!Fetch_jobs_from_Jooble.statusCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Fetch_jobs_from_Jooble.parsedCount}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Fetch_jobs_from_Jooble.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Jobs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
